<mat-nav-list class="nav-menu-items">
    <!-- <a *ngFor="let category of category" mat-list-item routerLink="/home">
        <mat-icon>apps</mat-icon>
        <h2>{{category}}</h2>
    </a> -->
    <a class="nav-menu-items" mat-list-item routerLink="/" [class.active]="!category">All Categories</a>

    <a mat-list-item *ngFor="let c of categories$ | async" routerLink="/list/{{c.name}}" [queryParams]="{ category: c.name }"
        [class.active]="category === c.name" class="nav-menu-items">
        {{ c.name }}
    </a>
</mat-nav-list>