<div>
  <mat-card class="card-style">      
    <mat-form-field class="w-100">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <button routerLink="/admin/additems" mat-fab>+ Add</button>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" class="w-100">
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
        <td mat-cell *matCellDef="let element"> {{element.productName}}</td>
      </ng-container>

      <ng-container matColumnDef="productCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell *matCellDef="let element"> {{element.productCategory}}</td>
      </ng-container>

      <ng-container matColumnDef="pricePerUnit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price/unit</th>
        <td mat-cell *matCellDef="let element"> {{element.pricePerUnit}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}}</td>
      </ng-container>

      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount</th>
        <td mat-cell *matCellDef="let element"> {{element.discount}}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}}</td>
      </ng-container>

      <ng-container matColumnDef="availableLocation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Available Location</th>
        <td mat-cell *matCellDef="let element"> {{element.availableLocation}}</td>
      </ng-container>

      <ng-container matColumnDef="manufacturedLocation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufactured Location</th>
        <td mat-cell *matCellDef="let element"> {{element.manufacturedLocation}}</td>
      </ng-container>

      <ng-container matColumnDef="productExpireData">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Expire Data</th>
        <td mat-cell *matCellDef="let element"> {{element.productExpireData}}</td>
      </ng-container>

      <ng-container matColumnDef="uploadedBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Uploaded By</th>
        <td mat-cell *matCellDef="let element"> {{element.uploadedBy}}</td>
      </ng-container>


      <ng-container matColumnDef="image" c>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
        <td mat-cell *matCellDef="let element" style="width: 25%"><img
            [src]="'http://localhost:90/images/'+element.image" class="prodImg">
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
        <td mat-cell *matCellDef="let element">
          
            <mat-icon class="delBtn" (click)="deleteById(element._id,element.image)">delete</mat-icon>
          
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 200]" showFirstLastButtons></mat-paginator>

  </mat-card>

</div>