<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <mat-toolbar class="dashboard-pannel-head">
            <h2>Krishak</h2>
            <div routerLink="/cart" class="sidenav-icon">
                <mat-icon>shopping_cart
                </mat-icon>
                {{cart}}
            </div>
        </mat-toolbar>

        <app-categories [category]='category'></app-categories>

    </mat-drawer>


    <mat-toolbar class="nav-toolbar">

        <p routerLink="/" class="nav-toolbar">
            <mat-icon>store</mat-icon>Bazzar
        </p>
        <a *ngIf="!logged" mat-list-item routerLink="/login">
            <mat-icon>lock</mat-icon>
            Login
        </a>
        <a *ngIf="logged" mat-list-item routerLink="/profile">
            <mat-icon>person</mat-icon>
        </a>

        <a *ngIf="logged" mat-list-item (click)="logOut()">
            <mat-icon>lock</mat-icon>
            Logout
        </a>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-drawer-container>