<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <mat-toolbar class="dashboard-pannel-head">
            <h2>Krishak</h2>
            <div routerLink="/cart" class="sidenav-icon">
                <mat-icon>shopping_cart
                </mat-icon>
                {{cart}}
            </div>
        </mat-toolbar>

        <app-categories *ngIf="!productroute" [category]='category'></app-categories>
        <mat-nav-list *ngIf="productroute">
            <a class="nav-menu-items" mat-list-item routerLink="/admin/items">My Products</a>
            <a class="nav-menu-items" mat-list-item routerLink="/admin/additems">Add Products</a>
            <a class="nav-menu-items" mat-list-item routerLink="/admin/ordered">Ordered Products</a>
        </mat-nav-list>
    </mat-drawer>


    <mat-toolbar class="nav-toolbar">

        <p class="nav-toolbar">
            <a href="/">
                <mat-icon>store</mat-icon>Bazzar
            </a>
        </p>
        <a *ngIf="!logged" mat-list-item routerLink="/login">
            <mat-icon>lock</mat-icon>
            Login
        </a>
        <a *ngIf="logged" mat-list-item href="/admin/profile">
            <mat-icon>person</mat-icon>
            My Profile
        </a>

        <a *ngIf="logged" mat-list-item (click)="logOut()">
            <mat-icon>lock</mat-icon>
            Logout
        </a>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-drawer-container>